<h1>PASSENGER LIST</h1>
<div  class="container">
<table class="table" border="1">
    <tr >
        <th>UNIQUE IDENTIFICATION NUMBER (UIN)</th>
        <th >PASSENGER PNR</th>
        <th>PASSENGER NAME</th>
        <th>PASSENGER AGE</th>
        <th>LUGGAGE QUANTITY</th>
        <th>GENDER</th>
    </tr>

    <tr *ngFor="let passenger of passengers">
        <td >{{passenger.uin}}</td>
        <td>{{passenger.pnr}}</td>
        <td>{{passenger.passengerName}}</td>
        <td>{{passenger.passengerAge}}</td>
        <td>{{passenger.luggage}}</td>
        <td>{{passenger.gender}}</td>
        <td>
        <button class="btn btn-success" (click)="removePassenger(passenger.uin)">Remove</button>  
          </td>   
    </tr>
</table>
</div>

<br>
<br>
<form  #form ="ngForm"  (ngSubmit)="form.valid && findPassenger(form)">
    <div>
        <h1>FIND PASSENGER</h1>
        <div>
            <label>UNIQUE IDENTIFICATION NUMBER (UIN)</label>
            <input type="text" class="form-control" name="uin" ngModel #uinCtrl=ngModel required minlength="12">
            <div *ngIf="uinCtrl.errors!=null && uinCtrl.errors.required">
                uin is required
            </div>
            <div *ngIf ="uinCtrl.errors!=null && uinCtrl.errors.minlength">
                 length should be 12
            </div>
        </div>
    </div>

    <button  type="submit" class="btn btn-success">Find Passenger</button>

</form>

<div *ngIf="foundStatus==='found'">
    UIN = {{foundPassenger.uin}}
    PNR = {{foundPassenger.pnr}}
    PASSENGER NAME= {{foundPassenger.passengerName}}
    PASSENGER AGE= {{foundPassenger.passengerAge}}
    LUGGAGE QUANTITY= {{foundPassenger.luggage}}
    GENDER={{foundPassenger.gender}}
</div>

<div *ngIf="foundStatus=='notfound'">
    Passenger not found !
    </div>
    
    
<div>
    <li>Add Passenger Details.
        <a href="" routerLink="../add-passenger">passenger details</a>
    </li>
</div>
<br>
<br>
