<h1>PASSENGER LIST</h1>
<div  class="container">
<table class="table" border="1">
    <tr >
        <th>UNIQUE IDENTIFICATION NUMBER (UIN)</th>
        <th >PASSENGER PNR</th>
        <th>PASSENGER NAME</th>
        <th>PASSENGER AGE</th>
        <th>LUGGAGE QUANTITY</th>
        <th>GENDER</th>
    </tr>

    <tr *ngFor="let passenger of passengers">
        <td >{{passenger.uin}}</td>
        <td>{{passenger.pnr}}</td>
        <td>{{passenger.passengerName}}</td>
        <td>{{passenger.passengerAge}}</td>
        <td>{{passenger.luggage}}</td>
        <td>{{passenger.gender}}</td>
    </tr>
</table>
</div>

<br>
<br>
<form  #form ="ngForm"  (ngSubmit)="form.valid && findPassenger(form)">
    <div>
        <h1>FIND PASSENGER</h1>
        <div>
            <label>UNIQUE IDENTIFICATION NUMBER (UIN)</label>
            <input type="text" class="form-control" name="uin" ngModel #uinCtrl=ngModel required minlength="12">
            <div *ngIf="uinCtrl.errors!=null && uinCtrl.errors.required">
                uin is required
            </div>
            <div *ngIf ="uinCtrl.errors!=null && uinCtrl.errors.minlength">
                 length should be 12
            </div>
        </div>
    </div>

    <button  type="submit"class="btn btn-success">Find Passenger</button>

</form>

<div *ngIf ="found!==null">
    UIN = {{found.uin}}
    PNR = {{found.pnr}}
    PASSENGER NAME={{found.passengerName}}
    PASSENGER AGE={{found.passengerAge}}
    LUGGAGE QUANTITY={{found.luggage}}
    GENDER={{found.gender}}
</div>

<br>
<br>
