<h1>PASSENGER LIST</h1>

<table class="table" border="1">
    <tr>
        <th class="info">UNIQUE IDENTIFICATION NUMBER (UIN)</th>
        <th class="warning">PASSENGER PNR</th>
        <th>PASSENGER NAME</th>
        <th>PASSENGER AGE</th>
        <th>LUGGAGE QUANTITY/th>
        <th>GENDER</th>
    </tr>

    <tr *ngFor="let passenger of passengers">
        <td class="info">{{passenger.uin}}</td>
        <td>{{passenger.pnr}}</td>
        <td>{{passenger.passengerName}}</td>
        <td>{{passenger.passengerAge}}</td>
        <td>{{passenger.luggage}}</td>
        <td>{{passenger.gender}}</td>
    </tr>
</table>

<br>
<br>
<form  #form ="ngForm"  (ngSubmit)="form.valid && findPassengerByUin(form)">
    <div>
        <label>Find Passenger</label>
        <div>
            <label>UNIQUE IDENTIFICATION NUMBER (UIN)</label>
            <input type="text" class="form-control" name="uin" ngModel #uinCtrl=ngModel required  length="12">
            <div *ngIf="uinCtrl.errors!=null && uinCtrl.errors.required">
                uin is required
            </div>
            <div *ngIf ="uinCtrl.errors!=null && uinCtrl.errors.length">
                 length should be 12
            </div>
        </div>
    </div>

    <button type="submit">Find Passenger</button>
</form>
<div *ngIf="fetched!==null">
    UIN = {{fetched.uin}}
    PNR = {{fetched.pnr}}
    PASSENGER NAME={{fetched.passengerName}}
    PASSENGER AGE={{fetched.passengerAge}}
    LUGGAGE QUANTITY={{fetched.luggage}}
    GENDER={{fetched.gender}}
</div>

<br>
<br>
